USE [master]
GO
/****** Object:  Database [TPDIPLOMA]    Script Date: 12/3/2026 20:37:03 ******/
CREATE DATABASE [TPDIPLOMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPDIPLOMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TPDIPLOMA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPDIPLOMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TPDIPLOMA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPDIPLOMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPDIPLOMA]
GO
/****** Object:  UserDefinedFunction [dbo].[CalcularDVHPorId]    Script Date: 12/3/2026 20:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalcularDVHPorId]
(
    @Idusu INT  -- Parámetro para seleccionar la fila específica
)
RETURNS INT
AS
BEGIN
    -- Declarar variables para almacenar los datos de la fila
    DECLARE @IdIdioma INT;
    DECLARE @Usunom NVARCHAR(50);
    DECLARE @UsuApe NVARCHAR(50);
    DECLARE @Usunick NVARCHAR(50);
    DECLARE @Usupass NVARCHAR(50);
    DECLARE @Usumail NVARCHAR(50);
    DECLARE @Usuestado BIT;
    DECLARE @UsubajaL BIT;

    -- Obtener los datos de la fila con el Idusu dado
    SELECT
        @IdIdioma = IdIdioma,
        @Usunom = Usunom,
        @UsuApe = UsuApe,
        @Usunick = Usunick,
        @Usupass = Usupass,
        @Usumail = Usumail,
        @Usuestado = Usuestado,
        @UsubajaL = UsubajaL
    FROM Usuarios
    WHERE Idusu = @Idusu;

    -- Concatenar todos los parámetros en una sola cadena
    DECLARE @Datos NVARCHAR(MAX) = 
        CAST(@Idusu AS NVARCHAR) +  -- Incluir el Idusu
        CAST(@IdIdioma AS NVARCHAR) +
        @Usunom +
        @UsuApe +
        @Usunick +
        @Usupass +
        @Usumail +
        CAST(@Usuestado AS NVARCHAR) +
        CAST(@UsubajaL AS NVARCHAR);

    -- Inicializar la suma
    DECLARE @Sumar INT = 0;
    DECLARE @i INT = 1;
    DECLARE @largo INT = LEN(@Datos);

    -- Recorrer cada carácter de la cadena y sumar sus valores ASCII
    WHILE @i <= @largo
    BEGIN
        SET @Sumar = @Sumar + ASCII(SUBSTRING(@Datos, @i, 1));
        SET @i = @i + 1;
    END

    -- Devolver el valor calculado
    RETURN @Sumar;
END
GO
/****** Object:  UserDefinedFunction [dbo].[CalcularDVHUsuario]    Script Date: 12/3/2026 20:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalcularDVHUsuario]
(
    @IdIdioma INT,
    @Usunom NVARCHAR(50),
    @UsuApe NVARCHAR(50),
    @Usunick NVARCHAR(50),
    @Usupass NVARCHAR(50),
    @Usumail NVARCHAR(50),
    @Usuestado BIT,
    @UsubajaL BIT
)
RETURNS INT
AS
BEGIN
    -- Concatenar todos los parámetros en una sola cadena
    DECLARE @Datos NVARCHAR(MAX) = 
        CAST(@IdIdioma AS NVARCHAR) +
        @Usunom +
        @UsuApe +
        @Usunick +
        @Usupass +
        @Usumail +
        CAST(@Usuestado AS NVARCHAR) +
        CAST(@UsubajaL AS NVARCHAR);

    -- Inicializar la suma
    DECLARE @Sumar INT = 0;
    DECLARE @i INT = 1;
    DECLARE @largo INT = LEN(@Datos);

    -- Recorrer cada carácter de la cadena y sumar sus valores ASCII
    WHILE @i <= @largo
    BEGIN
        SET @Sumar = @Sumar + ASCII(SUBSTRING(@Datos, @i, 1));
        SET @i = @i + 1;
    END

    -- Devolver el valor calculado
    RETURN @Sumar;
END

GO
/****** Object:  UserDefinedFunction [dbo].[CalcularDVHUsuario2]    Script Date: 12/3/2026 20:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[CalcularDVHUsuario2]
(
    @Idusu INT,  -- Agregado el parámetro Idusu
    @IdIdioma INT,
    @Usunom NVARCHAR(50),
    @UsuApe NVARCHAR(50),
    @Usunick NVARCHAR(50),
    @Usupass NVARCHAR(50),
    @Usumail NVARCHAR(50),
    @Usuestado BIT,
    @UsubajaL BIT
)
RETURNS INT
AS
BEGIN
    -- Concatenar todos los parámetros en una sola cadena
    DECLARE @Datos NVARCHAR(MAX) = 
        CAST(@Idusu AS NVARCHAR) +  -- Añadido Idusu
        CAST(@IdIdioma AS NVARCHAR) +
        @Usunom +
        @UsuApe +
        @Usunick +
        @Usupass +
        @Usumail +
        CAST(@Usuestado AS NVARCHAR) +
        CAST(@UsubajaL AS NVARCHAR);

    -- Inicializar la suma
    DECLARE @Sumar INT = 0;
    DECLARE @i INT = 1;
    DECLARE @largo INT = LEN(@Datos);

    -- Recorrer cada carácter de la cadena y sumar sus valores ASCII
    WHILE @i <= @largo
    BEGIN
        SET @Sumar = @Sumar + ASCII(SUBSTRING(@Datos, @i, 1));
        SET @i = @i + 1;
    END

    -- Devolver el valor calculado
    RETURN @Sumar;
END

GO
/****** Object:  Table [dbo].[BitacoraCambios]    Script Date: 12/3/2026 20:37:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraCambios](
	[Idregistro] [int] IDENTITY(1,1) NOT NULL,
	[Idpedido] [int] NOT NULL,
	[NickUsuario] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Operacion] [nvarchar](50) NOT NULL,
	[Criticidad] [nvarchar](50) NOT NULL,
	[Estado] [int] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_BitacoraC] PRIMARY KEY CLUSTERED 
(
	[Idregistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraEventos]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEventos](
	[Idregistro] [int] IDENTITY(1,1) NOT NULL,
	[NickUsuario] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[Operacion] [nvarchar](50) NOT NULL,
	[Criticidad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Idregistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_clientes] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [int] NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID_clientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras Det]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras Det](
	[IDPEDIDO] [int] NOT NULL,
	[IDPROV] [int] NOT NULL,
	[IDPROD] [int] NOT NULL,
	[Cantidad] [int] NULL,
	[Precio] [float] NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Compras Det] PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC,
	[IDPROV] ASC,
	[IDPROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizacion]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[IDPEDIDO] [int] NOT NULL,
	[IDPROV] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[FechaGen] [datetime] NOT NULL,
	[FechaAct] [datetime] NOT NULL,
	[Cotizacion] [float] NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_ComprasCab_estados] PRIMARY KEY CLUSTERED 
(
	[IDPEDIDO] ASC,
	[IDPROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVV](
	[ID_DVV] [int] IDENTITY(1,1) NOT NULL,
	[DVV_TABLA] [nvarchar](50) NOT NULL,
	[DVV_SUMA] [int] NOT NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[ID_DVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[IDestado] [int] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_estados] PRIMARY KEY CLUSTERED 
(
	[IDestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiqueta]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiqueta](
	[Id_Etiqueta] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Etiqueta] PRIMARY KEY CLUSTERED 
(
	[Id_Etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id_Idioma] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Idioma_Default] [bit] NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[IdPat] [int] IDENTITY(1,1) NOT NULL,
	[PatNom] [nvarchar](50) NULL,
	[PatDesc] [nvarchar](50) NULL,
	[PatDVH] [nvarchar](50) NULL,
 CONSTRAINT [PK_permiso_1] PRIMARY KEY CLUSTERED 
(
	[IdPat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patente_Patente]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_Patente](
	[id_patente_padre] [int] NULL,
	[id_patente_hijo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidocab]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidocab](
	[ID_pedido] [int] NOT NULL,
	[ID_clientes] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[fechagen] [datetime] NOT NULL,
	[fechaact] [datetime] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Pedido_estados] PRIMARY KEY CLUSTERED 
(
	[ID_pedido] ASC,
	[ID_clientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidosdet]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidosdet](
	[ID_pedido] [int] NOT NULL,
	[ID_clientes] [int] NOT NULL,
	[ID_producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[costo] [decimal](18, 2) NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[ID_pedido] ASC,
	[ID_producto] ASC,
	[ID_clientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos_Proveedores]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos_Proveedores](
	[IdProv] [int] NOT NULL,
	[IdProd] [int] NOT NULL,
 CONSTRAINT [PK_Productos_Proveedores] PRIMARY KEY CLUSTERED 
(
	[IdProv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROV_PROD]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROV_PROD](
	[IDProd] [int] NOT NULL,
	[IDPROV] [int] NOT NULL,
 CONSTRAINT [PK_PROV_PROD] PRIMARY KEY CLUSTERED 
(
	[IDProd] ASC,
	[IDPROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[ID_proveedor] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[direccion] [nvarchar](50) NULL,
	[telefono] [int] NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_proveedores] PRIMARY KEY CLUSTERED 
(
	[ID_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ID_producto] [int] NOT NULL,
	[medidas] [decimal](18, 2) NULL,
	[cantidad] [int] NULL,
	[Tipo] [nvarchar](50) NULL,
	[precio] [decimal](18, 2) NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[ID_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[Id_Traduccion] [int] IDENTITY(1,1) NOT NULL,
	[Id_Idioma] [int] NOT NULL,
	[Id_Etiqueta] [int] NOT NULL,
	[Traduccion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[Id_Traduccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Patente]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Patente](
	[IdUsu] [int] NOT NULL,
	[IdPat] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdUsu] ASC,
	[IdPat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Idusu] [int] IDENTITY(1,1) NOT NULL,
	[IdIdioma] [int] NOT NULL,
	[Usunom] [nvarchar](50) NOT NULL,
	[UsuApe] [nvarchar](50) NOT NULL,
	[Usunick] [nvarchar](50) NOT NULL,
	[Usupass] [nvarchar](50) NOT NULL,
	[Usumail] [nvarchar](50) NOT NULL,
	[Usuestado] [bit] NOT NULL,
	[UsubajaL] [bit] NOT NULL,
	[UsuDVH] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Idusu] ASC,
	[Usunick] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraEventos] ON 

INSERT [dbo].[BitacoraEventos] ([Idregistro], [NickUsuario], [Fecha], [Modulo], [Operacion], [Criticidad]) VALUES (1, N'Admin', CAST(N'2024-08-31T23:05:35.307' AS DateTime), N'LOGOUT', N'Cierre de sesion', N'Baja')
INSERT [dbo].[BitacoraEventos] ([Idregistro], [NickUsuario], [Fecha], [Modulo], [Operacion], [Criticidad]) VALUES (2, N'Admin', CAST(N'2024-08-31T23:05:42.670' AS DateTime), N'LOGIN', N'Inicio de sesion', N'Baja')
INSERT [dbo].[BitacoraEventos] ([Idregistro], [NickUsuario], [Fecha], [Modulo], [Operacion], [Criticidad]) VALUES (3, N'Admin', CAST(N'2024-08-31T23:22:41.750' AS DateTime), N'LOGIN', N'Inicio de sesion', N'Baja')
GO
SET IDENTITY_INSERT [dbo].[BitacoraEventos] OFF
GO
INSERT [dbo].[Clientes] ([ID_clientes], [nombre], [direccion], [telefono], [DVH]) VALUES (1, N'Tovac SRL', N'Carlos Glade 202', 42023124, 0)
GO
INSERT [dbo].[Compras Det] ([IDPEDIDO], [IDPROV], [IDPROD], [Cantidad], [Precio], [DVH]) VALUES (1, 1, 2, 120000, 10000, 0)
INSERT [dbo].[Compras Det] ([IDPEDIDO], [IDPROV], [IDPROD], [Cantidad], [Precio], [DVH]) VALUES (1, 1, 3, 120000, 10000, 0)
INSERT [dbo].[Compras Det] ([IDPEDIDO], [IDPROV], [IDPROD], [Cantidad], [Precio], [DVH]) VALUES (2, 1, 2, 5000, 0, 0)
GO
INSERT [dbo].[Cotizacion] ([IDPEDIDO], [IDPROV], [Estado], [FechaGen], [FechaAct], [Cotizacion], [DVH]) VALUES (1, 1, 0, CAST(N'2024-10-23T00:33:35.227' AS DateTime), CAST(N'2024-10-23T00:33:35.227' AS DateTime), 20000, 0)
INSERT [dbo].[Cotizacion] ([IDPEDIDO], [IDPROV], [Estado], [FechaGen], [FechaAct], [Cotizacion], [DVH]) VALUES (2, 1, 0, CAST(N'2024-10-23T00:35:06.933' AS DateTime), CAST(N'2024-10-23T00:35:06.933' AS DateTime), 0, 0)
INSERT [dbo].[Cotizacion] ([IDPEDIDO], [IDPROV], [Estado], [FechaGen], [FechaAct], [Cotizacion], [DVH]) VALUES (3, 1, 0, CAST(N'2024-10-23T09:05:03.003' AS DateTime), CAST(N'2024-10-23T09:05:03.003' AS DateTime), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[DVV] ON 

INSERT [dbo].[DVV] ([ID_DVV], [DVV_TABLA], [DVV_SUMA]) VALUES (1, N'Usuarios', 17215)
INSERT [dbo].[DVV] ([ID_DVV], [DVV_TABLA], [DVV_SUMA]) VALUES (2, N'Pedidos', 0)
INSERT [dbo].[DVV] ([ID_DVV], [DVV_TABLA], [DVV_SUMA]) VALUES (3, N'Compras', 0)
SET IDENTITY_INSERT [dbo].[DVV] OFF
GO
INSERT [dbo].[estados] ([IDestado], [descripcion]) VALUES (0, N'Creado')
INSERT [dbo].[estados] ([IDestado], [descripcion]) VALUES (1, N'Pagado')
INSERT [dbo].[estados] ([IDestado], [descripcion]) VALUES (2, N'Entregado')
GO
INSERT [dbo].[Etiqueta] ([Id_Etiqueta], [Nombre]) VALUES (1, N'sesion')
INSERT [dbo].[Etiqueta] ([Id_Etiqueta], [Nombre]) VALUES (2, N'cambiar_contraseña')
INSERT [dbo].[Etiqueta] ([Id_Etiqueta], [Nombre]) VALUES (3, N'cerrarsesion')
GO
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre], [Idioma_Default]) VALUES (1, N'Español', 1)
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre], [Idioma_Default]) VALUES (2, N'Inglés', 1)
INSERT [dbo].[Idioma] ([Id_Idioma], [Nombre], [Idioma_Default]) VALUES (3, N'Chino mandarín ', 0)
GO
SET IDENTITY_INSERT [dbo].[Patente] ON 

INSERT [dbo].[Patente] ([IdPat], [PatNom], [PatDesc], [PatDVH]) VALUES (1, N'Adminnistrador', N'perfil', NULL)
INSERT [dbo].[Patente] ([IdPat], [PatNom], [PatDesc], [PatDVH]) VALUES (2, N'Vendedor', N'perfil', NULL)
INSERT [dbo].[Patente] ([IdPat], [PatNom], [PatDesc], [PatDVH]) VALUES (3, N'Despachador', N'perfil', NULL)
SET IDENTITY_INSERT [dbo].[Patente] OFF
GO
INSERT [dbo].[Patente_Patente] ([id_patente_padre], [id_patente_hijo]) VALUES (2043, 2039)
INSERT [dbo].[Patente_Patente] ([id_patente_padre], [id_patente_hijo]) VALUES (2043, 2041)
INSERT [dbo].[Patente_Patente] ([id_patente_padre], [id_patente_hijo]) VALUES (2043, 2040)
GO
INSERT [dbo].[Pedidocab] ([ID_pedido], [ID_clientes], [estado], [fechagen], [fechaact], [DVH]) VALUES (1, 1, 3, CAST(N'2024-10-01T20:55:05.233' AS DateTime), CAST(N'2024-10-06T22:37:46.067' AS DateTime), 0)
INSERT [dbo].[Pedidocab] ([ID_pedido], [ID_clientes], [estado], [fechagen], [fechaact], [DVH]) VALUES (2, 1, 3, CAST(N'2024-10-06T22:36:08.793' AS DateTime), CAST(N'2024-10-06T22:51:25.560' AS DateTime), 0)
INSERT [dbo].[Pedidocab] ([ID_pedido], [ID_clientes], [estado], [fechagen], [fechaact], [DVH]) VALUES (3, 1, 2, CAST(N'2024-10-07T15:42:58.657' AS DateTime), CAST(N'2024-10-07T15:44:46.847' AS DateTime), 0)
GO
INSERT [dbo].[Pedidosdet] ([ID_pedido], [ID_clientes], [ID_producto], [Cantidad], [costo], [DVH]) VALUES (1, 1, 1, 7400, CAST(266400.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Pedidosdet] ([ID_pedido], [ID_clientes], [ID_producto], [Cantidad], [costo], [DVH]) VALUES (1, 1, 2, 45000, CAST(1620000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Pedidosdet] ([ID_pedido], [ID_clientes], [ID_producto], [Cantidad], [costo], [DVH]) VALUES (1, 1, 3, 10000, CAST(360000.00 AS Decimal(18, 2)), 0)
GO
INSERT [dbo].[PROV_PROD] ([IDProd], [IDPROV]) VALUES (1, 1)
INSERT [dbo].[PROV_PROD] ([IDProd], [IDPROV]) VALUES (2, 1)
INSERT [dbo].[PROV_PROD] ([IDProd], [IDPROV]) VALUES (3, 1)
GO
INSERT [dbo].[proveedores] ([ID_proveedor], [nombre], [direccion], [telefono], [DVH]) VALUES (1, N'Torvac SRL', N'Jose Suarez 3312', 42485911, 0)
INSERT [dbo].[proveedores] ([ID_proveedor], [nombre], [direccion], [telefono], [DVH]) VALUES (2, N'Carlos gardel 295', N'Lerca S.A.', 40296678, 0)
GO
INSERT [dbo].[Stock] ([ID_producto], [medidas], [cantidad], [Tipo], [precio], [DVH]) VALUES (1, CAST(25.00 AS Decimal(18, 2)), 1000000, N'Allen', CAST(25.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Stock] ([ID_producto], [medidas], [cantidad], [Tipo], [precio], [DVH]) VALUES (2, CAST(52.00 AS Decimal(18, 2)), 230000, N'Phillip', CAST(45.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Stock] ([ID_producto], [medidas], [cantidad], [Tipo], [precio], [DVH]) VALUES (3, CAST(125.00 AS Decimal(18, 2)), 5000, N'Cruz', CAST(36.00 AS Decimal(18, 2)), 0)
GO
SET IDENTITY_INSERT [dbo].[Traduccion] ON 

INSERT [dbo].[Traduccion] ([Id_Traduccion], [Id_Idioma], [Id_Etiqueta], [Traduccion]) VALUES (1, 1, 1, N'Sesión')
INSERT [dbo].[Traduccion] ([Id_Traduccion], [Id_Idioma], [Id_Etiqueta], [Traduccion]) VALUES (2, 1, 2, N'Cambiar Contraseña')
INSERT [dbo].[Traduccion] ([Id_Traduccion], [Id_Idioma], [Id_Etiqueta], [Traduccion]) VALUES (3, 1, 3, N'Cerrar Sesión')
SET IDENTITY_INSERT [dbo].[Traduccion] OFF
GO
INSERT [dbo].[Usuario_Patente] ([IdUsu], [IdPat]) VALUES (9, 1)
INSERT [dbo].[Usuario_Patente] ([IdUsu], [IdPat]) VALUES (13, 2042)
INSERT [dbo].[Usuario_Patente] ([IdUsu], [IdPat]) VALUES (13, 2043)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Idusu], [IdIdioma], [Usunom], [UsuApe], [Usunick], [Usupass], [Usumail], [Usuestado], [UsubajaL], [UsuDVH]) VALUES (35, 1, N'Alejandro', N'Heras', N'Admin', N'!#/)zW??C?JJ??', N'tom_heras@hotmail.com', 1, 0, 5992)
INSERT [dbo].[Usuarios] ([Idusu], [IdIdioma], [Usunom], [UsuApe], [Usunick], [Usupass], [Usumail], [Usuestado], [UsubajaL], [UsuDVH]) VALUES (36, 1, N'Tomas', N'Heras', N'Tomas.Heras', N'!#/)zW??C?JJ??', N'tom097@gmail.com', 1, 0, 5475)
INSERT [dbo].[Usuarios] ([Idusu], [IdIdioma], [Usunom], [UsuApe], [Usunick], [Usupass], [Usumail], [Usuestado], [UsubajaL], [UsuDVH]) VALUES (37, 1, N'Juan', N'Vaccaro', N'Vendedor01', N'!#/)zW??C?JJ??', N'Vendedor@gmail.com', 1, 0, 5748)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Compras Det]  WITH CHECK ADD  CONSTRAINT [FK_Compras Det_ComprasCab] FOREIGN KEY([IDPEDIDO], [IDPROV])
REFERENCES [dbo].[Cotizacion] ([IDPEDIDO], [IDPROV])
GO
ALTER TABLE [dbo].[Compras Det] CHECK CONSTRAINT [FK_Compras Det_ComprasCab]
GO
ALTER TABLE [dbo].[Compras Det]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Prov] FOREIGN KEY([IDPROV])
REFERENCES [dbo].[proveedores] ([ID_proveedor])
GO
ALTER TABLE [dbo].[Compras Det] CHECK CONSTRAINT [FK_Compras_Prov]
GO
ALTER TABLE [dbo].[Compras Det]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Stock] FOREIGN KEY([IDPROD])
REFERENCES [dbo].[Stock] ([ID_producto])
GO
ALTER TABLE [dbo].[Compras Det] CHECK CONSTRAINT [FK_Compras_Stock]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_ComprasCab_prov] FOREIGN KEY([IDPROV])
REFERENCES [dbo].[proveedores] ([ID_proveedor])
GO
ALTER TABLE [dbo].[Cotizacion] CHECK CONSTRAINT [FK_ComprasCab_prov]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_comprasestados_ped] FOREIGN KEY([Estado])
REFERENCES [dbo].[estados] ([IDestado])
GO
ALTER TABLE [dbo].[Cotizacion] CHECK CONSTRAINT [FK_comprasestados_ped]
GO
ALTER TABLE [dbo].[Patente_Patente]  WITH CHECK ADD  CONSTRAINT [FK_patente_patente_Patente] FOREIGN KEY([id_patente_padre])
REFERENCES [dbo].[Patente] ([IdPat])
GO
ALTER TABLE [dbo].[Patente_Patente] CHECK CONSTRAINT [FK_patente_patente_Patente]
GO
ALTER TABLE [dbo].[Pedidocab]  WITH CHECK ADD  CONSTRAINT [FK_estados_ped] FOREIGN KEY([estado])
REFERENCES [dbo].[estados] ([IDestado])
GO
ALTER TABLE [dbo].[Pedidocab] CHECK CONSTRAINT [FK_estados_ped]
GO
ALTER TABLE [dbo].[Pedidocab]  WITH CHECK ADD  CONSTRAINT [FK_Pedidocab_Clientes] FOREIGN KEY([ID_clientes])
REFERENCES [dbo].[Clientes] ([ID_clientes])
GO
ALTER TABLE [dbo].[Pedidocab] CHECK CONSTRAINT [FK_Pedidocab_Clientes]
GO
ALTER TABLE [dbo].[Pedidosdet]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([ID_clientes])
REFERENCES [dbo].[Clientes] ([ID_clientes])
GO
ALTER TABLE [dbo].[Pedidosdet] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
ALTER TABLE [dbo].[Pedidosdet]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Stock] FOREIGN KEY([ID_producto])
REFERENCES [dbo].[Stock] ([ID_producto])
GO
ALTER TABLE [dbo].[Pedidosdet] CHECK CONSTRAINT [FK_Pedidos_Stock]
GO
ALTER TABLE [dbo].[Pedidosdet]  WITH CHECK ADD  CONSTRAINT [FK_Pedidosdet_Pedidocab] FOREIGN KEY([ID_pedido], [ID_clientes])
REFERENCES [dbo].[Pedidocab] ([ID_pedido], [ID_clientes])
GO
ALTER TABLE [dbo].[Pedidosdet] CHECK CONSTRAINT [FK_Pedidosdet_Pedidocab]
GO
ALTER TABLE [dbo].[Productos_Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores_Stock] FOREIGN KEY([IdProd])
REFERENCES [dbo].[Stock] ([ID_producto])
GO
ALTER TABLE [dbo].[Productos_Proveedores] CHECK CONSTRAINT [FK_Productos_Proveedores_Stock]
GO
ALTER TABLE [dbo].[Productos_Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores] FOREIGN KEY([IdProv])
REFERENCES [dbo].[proveedores] ([ID_proveedor])
GO
ALTER TABLE [dbo].[Productos_Proveedores] CHECK CONSTRAINT [FK_Proveedores]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Etiqueta] FOREIGN KEY([Id_Etiqueta])
REFERENCES [dbo].[Etiqueta] ([Id_Etiqueta])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Etiqueta]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([Id_Idioma])
REFERENCES [dbo].[Idioma] ([Id_Idioma])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Usuario_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Patente_Patente] FOREIGN KEY([IdPat])
REFERENCES [dbo].[Patente] ([IdPat])
GO
ALTER TABLE [dbo].[Usuario_Patente] CHECK CONSTRAINT [FK_Usuario_Patente_Patente]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuarioDVH]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ActualizarUsuarioDVH]
@Idusu INT, 
@UsuDVH INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Actualiza el campo UsuDVH para el usuario con el Idusu especificado
    UPDATE Usuarios
    SET UsuDVH = @UsuDVH
    WHERE Idusu = @Idusu;
END

GO
/****** Object:  StoredProcedure [dbo].[altacliente]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[altacliente]
@nombre nvarchar(50), @direccion nvarchar(50), @telefono int, @DVH int
as
begin
declare @idcl int
set @idcl =(Select MAX (ID_clientes) FROM Clientes)+1
	
	if @idcl is null
		select @idcl=1
Insert into Clientes
values (@idcl,@nombre,@direccion,@telefono, @DVH)
end

GO
/****** Object:  StoredProcedure [dbo].[altaprecio]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[altaprecio]
@ID_producto int, @detalles nvarchar,@precio decimal, @medidas decimal, @tipo nvarchar(50),@DVH int
as
begin
insert into Precios (ID_producto, detalles, precio, medidas,Tipo, DVH)
values(@ID_producto,@detalles,@precio,@medidas,@tipo, @DVH)
end



GO
/****** Object:  StoredProcedure [dbo].[altaproducto]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[altaproducto]
@medidas decimal, @cantidad int, @tipo nvarchar(50), @precio decimal,@DVH int
as
begin
declare @idprod int
set @idprod =(Select MAX (ID_producto) FROM Stock)+1
	
	if @idprod is null
		select @idprod=1
insert into Stock (ID_producto, medidas, cantidad,Tipo,precio,DVH)
values( @idprod,@medidas,@cantidad,@tipo,@precio,@DVH)
end

GO
/****** Object:  StoredProcedure [dbo].[AltaProv]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AltaProv]
@nombre nvarchar(50), @direccion nvarchar(50), @telefono int, @DVH int
as
begin
declare @IDprov int
set @IDprov=(Select max (ID_proveedor) FROM proveedores)+1

	if @IDprov is null
		select @IDprov=1
insert into proveedores
values (@IDprov,@nombre,@direccion,@telefono,@DVH)
end

GO
/****** Object:  StoredProcedure [dbo].[Altausuario2]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Altausuario2]
@Ididioma INT, 
@Usunom NVARCHAR(50),
@UsuApe NVARCHAR(50), 
@Usunick NVARCHAR(50), 
@Usupass NVARCHAR(50), 
@Usumail NVARCHAR(50), 
@Usuestado BIT, 
@UsubajaL BIT,
@UsuDVH int
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NuevoIdusu INT;

    -- Inserta el nuevo usuario
    INSERT INTO Usuarios (IdIdioma, Usunom, UsuApe, Usunick, Usupass, Usumail, Usuestado, UsubajaL,UsuDVH)
    OUTPUT INSERTED.Idusu -- Devuelve el Idusu generado
    VALUES (@Ididioma, @Usunom, @UsuApe, @Usunick, @Usupass, @Usumail, @Usuestado, @UsubajaL,@UsuDVH);

    -- Captura el ID insertado
    SET @NuevoIdusu = SCOPE_IDENTITY();

    -- Devuelve el ID generado
    SELECT @NuevoIdusu AS Idusu;
END

GO
/****** Object:  StoredProcedure [dbo].[AsignarPROV_PROD]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AsignarPROV_PROD]
@prov int, @prod int
as
begin
insert into PROV_PROD
values (@prod,@prov)
end

GO
/****** Object:  StoredProcedure [dbo].[Bajaclientes]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Bajaclientes]
@ID_clientes int
as
begin
delete from Clientes
where	 ID_clientes=@ID_clientes
end


GO
/****** Object:  StoredProcedure [dbo].[bajaprecio]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[bajaprecio]
@ID_producto int
as
begin
delete
from Precios
where ID_producto=@ID_producto
end

GO
/****** Object:  StoredProcedure [dbo].[bajaproducto]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[bajaproducto]
@ID_producto int
as
begin
delete from Stock
where ID_producto=@ID_producto
end

GO
/****** Object:  StoredProcedure [dbo].[BajaProv]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BajaProv]
@IDprov int
as
begin
delete from proveedores
where ID_proveedor=@IDprov
end

GO
/****** Object:  StoredProcedure [dbo].[cargarcabecera]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cargarcabecera]
@Idcliente int, @estado int, @fechagen datetime, @fechaact datetime,@DVH int, @returnvalue int OUTPUT
as
begin
declare @Idpedido int
set @Idpedido =(select MAx(ID_pedido)from Pedidocab)+1
	if @Idpedido is null
		select @Idpedido=1
insert into Pedidocab
values (@Idpedido, @Idcliente, @estado , @fechagen , @fechaact, @DVH) 
select @returnvalue=@Idpedido 
end

GO
/****** Object:  StoredProcedure [dbo].[cargarcotizacion]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cargarcotizacion]
@idprov int, @cotizar float,@estado int, @fechagen datetime, @fechaact datetime,@DVH int, @returnvalue int OUTPUT
as
begin
declare @Idpedido int
set @Idpedido =(select MAx(IDPEDIDO)from Cotizacion)+1
	if @Idpedido is null
		select @Idpedido=1
insert into Cotizacion
values (@Idpedido, @Idprov, @estado , @fechagen , @fechaact,@cotizar,@DVH) 
select @returnvalue=@Idpedido 
end

GO
/****** Object:  StoredProcedure [dbo].[cargardetalle]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cargardetalle]
@Idpedido int, @Idcliente int, @idproducto int, @cantidad int, @costo decimal(18,2), @DVH int
as
begin
insert into Pedidosdet
values (@Idpedido, @Idcliente, @idproducto , @cantidad , @costo , @DVH)
end



GO
/****** Object:  StoredProcedure [dbo].[Change_Password]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Change_Password]
@user nvarchar(50)
as
begin
select Usupass from Usuarios
where Usunom = @user
end



GO
/****** Object:  StoredProcedure [dbo].[Editar_Traduccion]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Editar_Traduccion]
@Nombre nvarchar(50),@id int,@Trad nvarchar(50)
as
begin
UPDATE Traduccion
SET Traduccion.Traduccion = @Trad
FROM Traduccion t
INNER JOIN Idioma id
on t.Id_Idioma = id.Id_Idioma
where id.Nombre = @Nombre and Id_Etiqueta=@id 
end



GO
/****** Object:  StoredProcedure [dbo].[Editarcliente]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editarcliente]
@ID_cliente int, @nombre nvarchar(50), @direccion nvarchar(50), @telefono int
as
begin
update Clientes set nombre=@nombre, direccion=@direccion, telefono=@telefono
where ID_clientes=@ID_cliente
end


GO
/****** Object:  StoredProcedure [dbo].[Editarprecio]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Editarprecio]
@ID_producto int, @detalles nvarchar, @precio decimal, @medidas decimal,@tipo nvarchar(50)
as
begin
update Precios set detalles=@detalles, precio=@precio, medidas= @medidas, Tipo=@tipo
where ID_producto=@ID_producto
end


GO
/****** Object:  StoredProcedure [dbo].[Editarproducto]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Editarproducto]
@IDprod int, @medidas decimal, @cantidad int, @tipo nvarchar(50)
as
begin
update Stock set  medidas=@medidas, cantidad=@cantidad, tipo=@tipo
where ID_producto=@IDprod
end


GO
/****** Object:  StoredProcedure [dbo].[EditarProv]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EditarProv]
@IDprov int,@nombre nvarchar(50), @direccion nvarchar(50), @telefono int
as
begin
update proveedores set nombre=@nombre, direccion=@direccion, telefono=@telefono
where ID_proveedor=@IDprov
end


GO
/****** Object:  StoredProcedure [dbo].[editarUSUARIO]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[editarUSUARIO]
@Idusu int, @nick nvarchar(50),@pass nvarchar(50), @estado bit, @Idioma int,@nombre nvarchar(50),@apellido nvarchar(50)
as
begin
update Usuarios 
set Usunick=@nick,Usupass=@pass, Usuestado=@estado, IdIdioma=@Idioma, Usunom=@nombre,UsuApe=@apellido
where Idusu=@Idusu
end

GO
/****** Object:  StoredProcedure [dbo].[iner]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[iner]
as
begin
select t1.Idpat, t1.Patnom, t2.id_patente_hijo from Patente t1 inner join Patente_patente t2 on t1.IdPat=t2.id_patente_padre

end

GO
/****** Object:  StoredProcedure [dbo].[Insertar_Etiquetas]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insertar_Etiquetas]
@idI int,@idE int,@T nvarchar(50)
as
begin
insert into Traduccion
values (@idI,@idE,@T)
end



GO
/****** Object:  StoredProcedure [dbo].[Insertar_Idioma]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insertar_Idioma]
@nombre nvarchar(50),@default bit
as
begin
declare @UId int
SET @UId = (SELECT MAX(Id_Idioma) FROM Idioma)+1

    if @UId is null
        select @UId = 1
insert into Idioma
values(@UId,@nombre,@default)
end



GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertarBitacora]
@nick nvarchar(50),@fecha datetime,  @modulo nvarchar(50), @operacion nvarchar(50),@criticidad nvarchar(50)
as
begin
insert into BitacoraEventos (NickUsuario,Fecha,Modulo,Operacion,Criticidad)
values (@nick ,@fecha , @modulo , @operacion ,@criticidad )
END


GO
/****** Object:  StoredProcedure [dbo].[InsertarDVV]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertarDVV]
@nombre nvarchar(50), @Suma int
as
begin
insert into DVV (DVV_TABLA,DVV_SUMA)
values (@nombre, @Suma)
end

GO
/****** Object:  StoredProcedure [dbo].[levantarjoin]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[levantarjoin]
as
begin
select Cotizacion.IDPEDIDO,Cotizacion.IDPROV,Cotizacion.Cotizacion,[Compras Det].IDPROD,[Compras Det].Cantidad,[Compras Det].Precio,Cotizacion.FechaAct,Cotizacion.FechaGen,Cotizacion.Estado
from cotizacion,[Compras Det] 
where Cotizacion.IDPEDIDO=[Compras Det].IDPEDIDO
end

GO
/****** Object:  StoredProcedure [dbo].[Listadeusuarios]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Listadeusuarios]
as
begin
select Idusu,IdIdioma,UsuNom,UsuNick,UsuApe,Usupass,UsuMail,UsuEstado from Usuarios 
end



GO
/****** Object:  StoredProcedure [dbo].[ListarBitacora]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ListarBitacora]
as
begin
select NickUsuario,Fecha,Modulo,Criticidad, Operacion from BitacoraEventos
 WHERE 
        Fecha >= DATEADD(DAY, -30, GETDATE())
end


GO
/****** Object:  StoredProcedure [dbo].[listarcabecera]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[listarcabecera]
as
begin
select*
from Pedidocab
end

GO
/****** Object:  StoredProcedure [dbo].[ListarCambios]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ListarCambios]
as
begin
select TOP 1* from BitacoraCambios order by Idregistro DEsc 

end

GO
/****** Object:  StoredProcedure [dbo].[Listarclientes]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Listarclientes]
as
begin
select*
from Clientes
end


GO
/****** Object:  StoredProcedure [dbo].[listardetalles]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[listardetalles]
as
begin
select*
from Pedidosdet
end

GO
/****** Object:  StoredProcedure [dbo].[listarID_TIPO]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[listarID_TIPO]
as
begin
select ID_producto
from Stock
end

GO
/****** Object:  StoredProcedure [dbo].[listarprecios]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[listarprecios]
as
begin
select*
from Precios
end

GO
/****** Object:  StoredProcedure [dbo].[Listarprod]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Listarprod]
as
begin
select*
from Stock
end


GO
/****** Object:  StoredProcedure [dbo].[ListarProv]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarProv]
as
begin
select ID_proveedor,nombre,telefono,direccion
from proveedores
end

GO
/****** Object:  StoredProcedure [dbo].[ListarUsuarios]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ListarUsuarios]
as
begin
select Idusu,UsuNom,UsuApe,UsuNick,UsuMail,UsuEstado,Usubajal,UsuDVH from Usuarios 
end



GO
/****** Object:  StoredProcedure [dbo].[ListEstados]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ListEstados]
as
begin 
select*
from estados
end
GO
/****** Object:  StoredProcedure [dbo].[llenartabla]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[llenartabla]
as
begin
insert into Precios(ID_producto,medidas,tipo)
select a.ID_producto,a.medidas,a.Tipo
from Stock a
left join Precios b
on a.ID_producto=b.ID_producto
where b.ID_producto is null
end


GO
/****** Object:  StoredProcedure [dbo].[modificarcabecera]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[modificarcabecera]
@Idpedido int, @Idcliente int, @estado int, @fechagen datetime, @fechaact datetime
as
begin
update Pedidocab set  ID_clientes= @Idcliente, estado=@estado , fechagen=@fechagen , fechaact=@fechaact
where ID_pedido=@Idpedido
end

GO
/****** Object:  StoredProcedure [dbo].[modificarestado]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[modificarestado]
@Idpedido int, @estado int,@fechacam datetime
AS
BEGIN
UPDATE	Pedidocab set estado=@estado, fechaact=@fechacam
where Id_pedido=@Idpedido
END


GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdTraduccion]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ObtenerIdTraduccion]
@nombre nvarchar(50)
as
select Id_Etiqueta from Etiqueta
where Nombre=@nombre



GO
/****** Object:  StoredProcedure [dbo].[ObtenerUltimoIdUsuario]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ObtenerUltimoIdUsuario]
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener el último ID generado en el ámbito actual
    SELECT SCOPE_IDENTITY() AS UltimoIdusu;
END

GO
/****** Object:  StoredProcedure [dbo].[ordendecompra]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ordendecompra]
@Idpedido int, @Idprov int, @idproducto int, @cantidad int,@precio float,@DVH int
as
begin
insert into [Compras Det]
values (@Idpedido, @Idprov, @idproducto , @cantidad,@precio,@DVH )
end

GO
/****** Object:  StoredProcedure [dbo].[Reporta_prodVendidos]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Reporta_prodVendidos]

as
begin
select ID_producto, SUM(cantidad) as totalcant
from Pedidosdet
group by ID_producto
order by SUM(Cantidad) DESC
end

GO
/****** Object:  StoredProcedure [dbo].[Reporte_prodRepo]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Reporte_prodRepo]
as
begin
select ID_producto,medidas, tipo
from Stock
where cantidad<1000
end

GO
/****** Object:  StoredProcedure [dbo].[Search_User]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Search_User]
@usu varchar(50)
as
select IdUsu,UsuNick,UsuPass from Usuarios where UsuNick=@usu 



GO
/****** Object:  StoredProcedure [dbo].[traercomprasdet]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[traercomprasdet]
as
begin
select *
from [Compras Det]
end

GO
/****** Object:  StoredProcedure [dbo].[traercotizaciones]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[traercotizaciones]
as
begin
select *
from Cotizacion
end

GO
/****** Object:  StoredProcedure [dbo].[TraerIdiomas]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TraerIdiomas]
as
begin
Select*
from Idioma
end

GO
/****** Object:  StoredProcedure [dbo].[traernicks]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[traernicks]
as
begin
select Usunick
from Usuarios
end

GO
/****** Object:  StoredProcedure [dbo].[traerprodprov]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[traerprodprov]
as
begin
select*
from PROV_PROD
end

GO
/****** Object:  StoredProcedure [dbo].[TraerUsuarios]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TraerUsuarios]
as
begin
select*
from Usuarios
end
GO
/****** Object:  StoredProcedure [dbo].[TrarBitacoraCambios]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TrarBitacoraCambios]
as
begin
select*
from BitacoraCambios
END

GO
/****** Object:  StoredProcedure [dbo].[TrarBitacoraCambiosBETWEEN]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TrarBitacoraCambiosBETWEEN]
@desde datetime, @hasta datetime
as
begin
select*
from BitacoraCambios
where Fecha between @desde and @hasta
END

GO
/****** Object:  StoredProcedure [dbo].[update_password]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_password]
@user nvarchar(50),@pass nvarchar(50)
as
begin
UPDATE Usuarios
SET Usupass = @pass
where Idusu=@user
end

GO
/****** Object:  StoredProcedure [dbo].[updatea0]    Script Date: 12/3/2026 20:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updatea0]
as
begin
update Precios Set precio=0.0
where precio is null	
end

GO
USE [master]
GO
